@media only screen and (max-width: 425px) {
    .content img {
        height: 100%;
        width: 100%;
    }

    .table>thead {
        font-size: 14px;
    }

    .content td {
        font-size: 12px;
    }
}