* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: fit-content;
    width: 100%;
    font-family: "Poppins", sans-serif;
}

ul {
    padding-left: 25px;
}

li {
    margin-bottom: 10px;
}

.welcome {
    margin: 25px 0;
}

.welcome-text {
    font-weight: 500;
}

.welcome-text p {
    font-size: 1rem;
    font-weight: 400;
}

.welcome-text h1 {
    font-size: 1.5rem;
}

.welcome-text a {
    color: #f7542e;
}
/* Responsive */
.responsive{
    margin: 25px 0;
}
.responsive table{
    margin: 25px 0;
}
.responsive h1 {
    font-size: 28px;
}

.responsive img {
    height: 150px;
    width: 200px;
}
/* Responsive */