* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: fit-content;
    width: 100%;
    font-family: "Poppins", sans-serif;
}

ul {
    padding-left: 25px;
}

li {
    margin-bottom: 10px;
}

.welcome {
    margin: 25px 0;
}

.welcome-text {
    font-weight: 500;
}

.welcome-text p {
    font-size: 1rem;
    font-weight: 400;
}

.welcome-text h1 {
    font-size: 1.5rem;
}

.welcome-text a {
    color: #f7542e;
}

/* Responsive */
.content {
    margin: 25px 0;
}

.content table {
    margin: 25px 0;
}

.content h1 {
    font-size: 28px;
}

.content img {
    height: 100px;
    width: 150px;
}

.content a {
    padding: 10px;
    text-decoration: none;
}

/* Responsive */